<div class="flex items-center gap-2 mb-4">
  <h1 class="text-2xl text-green-700">Pages</h1>
  <i class="ms-auto"></i>
  <button class="bg-green-700 text-white text-sm px-2 rounded" (click)="appService.fetchWorkspaces()">Refresh</button>
  <a class="bg-green-700 text-white text-sm px-2 rounded" routerLink="/workspace">Create Page</a>
</div>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">#</th>
        <th scope="col" class="py-3 px-6">Name</th>
        <th scope="col" class="py-3 px-6">Description</th>
        <th scope="col" class="py-3 px-6">Status</th>
        <th scope="col" class="py-3 px-6">Created At</th>
        <th scope="col" class="py-3 px-6">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of appService.workspaces; let i = index"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ i + 1 }}
        </th>
        <td class="py-4 px-6">{{ w.name }}</td>
        <td class="py-4 px-6">{{ w.description }}</td>
        <td class="py-4 px-6">{{ w.status }}</td>
        <td class="py-4 px-6">{{ w.createdAt | date: 'medium' }}</td>
        <td class="py-4 px-6 flex gap-2 items-center">
          <a class="bg-green-700 text-white text-xs px-1 rounded" routerLink="/expense/{{ w.id }}">Open</a>
          <a class="bg-blue-500 text-white text-xs px-1 rounded" routerLink="/page/{{ w.id }}">Edit</a>
          <button class="bg-red-500 text-white text-xs px-1 rounded">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>